@charset "utf-8";

      * {margin:0; box-sizing:border-box; font-family: "맑은 고딕";}



      ul,ol,li {list-style:none; margin:0; padding:0;}



      a {text-decoration: none;}



      header {width:1185px; height:160px; margin:0 auto;}



      #logo {width:170px; height:70px; float:left;  margin:50px 0 0 10px;}


      #logo > img {width:100%; height:100%;}



      #login {width:295px; height:30px; float:right; margin:20px 30px 0 0px;}



      #login ul {font-size:12px; color:#666;}


      #login li {float:left; margin:0 5px; }


      #login li a {text-decoration:none; color:#666;}



      nav {width:780px; height:40px; float:right; margin:40px 0px 0 0px;}


      nav > ul {font-size: 19px; font-weight:bold;}


      nav > ul > li {float:left; margin:0 40px; }

      nav > ul > li > a {text-decoration:none; color:#000;}


      nav > ul > li > a:hover {color:blue;}


      #slider {width:1475px; height:560px; margin:0 auto;}



      #slider > img {width:100%; height:100%;}


      section {width:1280px; height:405px;  margin:0 auto; background-color:rgba(255,0,0,0.1);}


      section  h3 {font-size: 20px; margin:0px 0px 10px; }

      #news {width:345px; height:155px; float:left; background-color:skyblue; margin:30px 0 0 35px;}


      #news table {font-size: 12px;}


      #news > table a {height: 25px; text-decoration:none; color:#000;}


      #icon {width:445px; height:155px; float:left; background-color:tomato; margin:30px 0 0 35px;}

      #icon >.iconbox {width:70px; height:75px; float:left; background-color:gold; margin:30px 12px 0 0px;}

      #icon >.iconbox > a > img {width:70px; height: 50px;}

      #icon >.iconbox >  span > a {color:#666; display: block; width: 100%; text-align: center;}


      #brand {width:330px; height:155px; float:left; background-color:green; margin:30px 0 0 35px;}


      #brand > p {font-size: 12px;}


      #brand > p > a{color:#666;}


      #brand h4 {font-size: 15px; margin: 10px 0 0 0px;}

      #brand h4 a {color:#333;}



      #promotion {width:345px; height:150px; float:left; background-color:gray; margin:30px 0 0 35px;}


      #promotion > p > a {color:#666; font-size: 12px; float:left; width:200px; height:70px; background-color:red;}


      #promotion > a > img { float:right; width:100px; height:100px;}


      #camp {width:455px; height:150px; float:left; background-color:purple; margin:30px 0 0 35px;}


      #camp > p > a {color:#666; font-size: 12px; text-decoration:none; float:left; width:200px; height:70px; background-color:red}


      #camp > a > img {float:right; width:100px; height:100px;}


      #store {width:330px; height:150px; float:left; background-color:pink; margin:30px 0 0 35px;}


      #store > p > a {font-size: 12px; color:#666; text-decoration:none;; float:left; width:200px; height:70px; background-color:red}



      #store > a > img {float:right; width:100px; height:100px;}



      footer {width:100%; height:145px; border-top:1px solid #666; margin:0 auto;}



      footer > #box {width:1240px; height:130px; margin:10px auto;}



      footer > #box > ul {width:750px; height:50px; float:left; margin:20px 0 0 40px; color:#666;}


      footer > #box > ul > li {float:left; font-size: 12px; margin:5px 10px;}



      footer > #box > ul > li a {text-decoration: none; color:#666;}

      footer > #box > p { float:left; width:700px; height:50px; line-height:150%; margin:10px 0 0 40px; font-size:12px; color: #666;}

